/* Form */

.form-container {
  background-color: #0f0f0f;
  color: #fff;
}

.form-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  padding: 3em 0;
}

.form-wrapper h2 {
  /* margin: 0 auto; */
  font-size: 10vmin;
  /* padding: 1em 0; */
  width: 40%;
}

.form {
  width: 40%;
  /* margin: 0 auto; */
  border: 1px solid white;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.7);
}

.form-section label,
.form-section input {
  display: block;
  line-height: 1.5;
}

.form-section input {
  width: 100%;
  border-radius: 5px;
  padding: 0.7em 0.5em;
  background-color: #fff;
}

.form-section input:focus {
  box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.7);
  border: 2px solid transparent;
  outline: none;
}

form button,
form input {
  margin: 0.5em 0;
}

.button button {
  cursor: pointer;
  padding: 0.5em 4em;
  width: 100%;
  font-size: large;
  border-radius: 5px;
  font-weight: 700;
  padding: 0.7em 0.5em;
  color: white;
  background-color: #f00;
  transition: all 100ms;
}

.button button:active {
  scale: 0.9;
}

@media (max-width: 650px) {
  .form-wrapper {
    flex-direction: column;
  }

  .form-wrapper h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }

  .form {
    width: 80%;
    margin: 0 auto;
  }
}
